body {
    margin: 0px;
    padding: 0;
    font: normal 20px "Times New Roman", Times, serif;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: minmax(25vh, auto) minmax(50vh, auto) minmax(25vh, auto);
    /* overflow-y: scroll; */
}



.header {
    /* min-height: 25vh; */
    display: grid;
    /* grid-column: 100%; */
}

.header-main{
    display: grid;
    grid-template-columns: minmax(25%, auto) auto;
    background-color:blue;
    text-align: right;
    /* width: 100%; */
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    padding: 2%;
}

.X {
    display: grid;
    background-color:white;
    text-align:center;
    /* min-width: 25%; */
    height: 13vh;
    left: 5vw;
    justify-content: center;
    align-items: center;     
    position: relative;
    float: left;
    margin-right: 5vw;
}



.main {
    min-height: 50vh;
    display: grid;
    grid-template-columns: 25vw 75vw;
}

.main-left {
    background-color:coral;
    text-align: left;
    /* width: 25vw; */
    /* min-height: 100%; */
    padding: 2%;
}

.main-right {
    /* width: 75vw; */
    /* min-height: 100%; */
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 3vh minmax(47vh, auto);
}

.main-right-top {
    background-color:chartreuse;
    /* height: 3vh; */
    white-space: nowrap;
}

.main-right-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    padding-right: 1.5%;
    /* width: 100%; */
}

.main-right-top li{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    min-width: 19.65%;
    color:deeppink;
}

.main-right-top a:hover{
    background-color: black;
}

.main-right-bottom {
    /* min-height: calc(100% - 3vh); */
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 50vw 25vw;
}

.main-right-bottom-left {
    background-color:white;
    /* width: 50vw; */
    /* min-height: calc(100% - 3vh); */
    padding: 1%;
}

.main-right-bottom-right {
    background-color:coral;
    /* width: 25vw; */
    /* min-height: calc(100% - 3vh); */
    padding: 3%;
}

.right-big {
    font: bold 60px "Times New Roman", Times, serif;
    color:cyan;
}




.footer {
    /* min-height: 25vh; */
    display: grid;
}

.footer-main{
    display: grid;
    grid-template-columns: auto minmax(25%, auto);
    background-color:blue;
    text-align: left;
    /* width: 100%; */
    /* display: flex; */
    align-items: center;
    padding: 2%;
    justify-content: space-between;
}

.Y {
    background-color:white;
    /* display: flex; */
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    /* min-width: 25%; */
    height: 13vh;
    position: relative;
    float: right;
    /* align-self: center; */
    right: 5vw;    
    margin-left: 5vw;
    text-align: center;
}


img{
    max-width: 100%;
    height: auto;
}