body {
    margin: 0px;
    padding: 0;
    font: normal 20px "Times New Roman", Times, serif;
    overflow-x: hidden;
}

table {
    border-collapse: collapse;
}

.header {
    width: 100%;
    background-color: blue;
    text-align: right;
}

.header-main {
    padding: 1%;
    width: 25vw;
}

.X {
    background-color: white;
    text-align: center;
    width: 25vw;
    min-height: 13vh;
    white-space: normal;
    margin: 0;
    padding: 0;
    display: inline-block; /* Змінено на inline-block */
    margin-left: 5vw; /* Додано */
}

.padding-left{
    padding-left: 10px;
}




.main {
    width: 100%;
}

.main-left {
    background-color: coral;
    vertical-align: top; /* Змінено з text-align на vertical-align */
    text-align: left; /* Залишено без змін */
    width: 25vw;
    min-height: 100%;
    padding: 1%;
}


.main-right {
    width: 75vw;
    vertical-align: top;
}

.main-right-top {
    background-color: chartreuse;
    height: 3vh;
    white-space: nowrap;
}

.main-right-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    width: 100%;
}

.main-right-top li {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 19.65%;
}

.main-right-top a {
    text-decoration: none;
    display: block;
    color: deeppink;
}

.main-right-top li:hover a {
    background-color: black;
    color: deeppink; /* Змінено на deeppink */
}


.main-right-bottom {
    min-height: calc(100% - 3vh);
}

.main-right-bottom-left {
    background-color: white;
    width: 50vw;
    min-height: calc(100% - 3vh);
    padding: 1%;
    vertical-align: top;
}

.main-right-bottom-right {
    background-color: coral;
    width: 25vw;
    min-height: calc(100% - 3vh);
    padding: 1%;
    vertical-align: top;
    text-align: left;
}


.right-big {
    font: bold 60px "Times New Roman", Times, serif;
    color: cyan;
}

.footer {
    width: 100%;
    background-color: blue;
    text-align: left;
}

.footer-main {
    padding: 1%;
}

.Y {
    background-color: white;
    text-align: center;
    width: 25vw;
    min-height: 13vh;
    white-space: normal;
    margin: 0;
    padding: 0;
    display: inline-block; /* Змінено на inline-block */
    margin-right: 5vw; /* Додано */
}

img {
    max-width: 100%;
    height: auto;
}

td p {
    margin-right: 20px; /* Змініть значення за потребою */
}